<div class="footer mt15">
    <div class="container">
        <div class="footer-bg">
            <p class="links">
                <span>©2012-2013 f2e.im</span>
                <span>Powered by tornado on linode</span>
            </p>
            {#
            <p>
                <a href="/about" target="_self">关于我们</a> -
                <a href="/team" target="_self">管理团队</a> -
                <a href="/feedback" target="_self">意见反馈</a> -
                <a href="/plan" target="_self">计划</a>
            </p>
            <p class="fade-color">
                ❤ lovely created by anonymous.
            </p>
            #}
            <p class="fade-color">
                <span># version 0.1.0-dev</span>
            </p>
        </div>
    </div>
</div>
