<div class="footer mt15">
    <div class="container">
        <div class="footer-bg">
            <p class="links">
                <span>©2012-2013 {{ site_settings['short_title'] }}</span>
                {{ site_settings['footer_html'] }}
                <span>, All rights reserved.</span>
            </p>
            {#
            <p>
                <a href="/about" target="_self">关于我们</a> -
                <a href="/team" target="_self">管理团队</a> -
                <a href="/feedback" target="_self">意见反馈</a> -
                <a href="/plan" target="_self">计划</a>
            </p>
            <p class="fade-color">
                ❤ lovely created by anonymous.
            </p>
            #}
            <p class="fade-color">
                {#
                <span># version {{ site_settings['version'] }}</span>
                #}
                <span>Bitcoin Donation: Fuck Bitcoin!</span>
            </p>
        </div>
    </div>
</div>

<div style="display: none;">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5a0f15523b0100a6979e2772e0573347' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
