{% extends 'snippet/layout.html' %}

{% block main %}
<div class="topics container-box deprecated-mt10">
    <hr/>
    {% if is_new %}
    <h2>Create Plane</h2>
    {% else %}
    <h2>Edit Plane {{ plane['name'] }}</h2>
    {% endif %}
    <form class="form-horizontal" role="form" method="POST" action="/admin/plane/{{ plane['id'] }}">
        {{ errors|dump_errors }}
        <div class="control-group">
            <label class="col-sm-2 control-label">ID</label>

            <div class="controls">
                <input type="text" disabled="disabled" value="{{ plane['id'] }}"/>
                <input type="hidden" name="id" value="{{ plane['id'] }}"/>
            </div>
        </div>
        <div class="control-group">
            <label class="col-sm-2 control-label">Name</label>

            <div class="controls">
                <input type="text" name="name" value="{{ plane['name'] }}" class="form-control" placeholder="Name"
                       required="required">
            </div>
        </div>
        {{ xsrf_form_html() }}
        <div class="control-group">
            <div class="col-sm-offset-2 controls">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}