{% extends 'snippet/layout.html' %}

{% block title %}
    社区成员 - F2E
{% endblock %}

{% block main %}
    <div class="member-lists container-box">
        <div class="ui-header">
            <span class="title">社区活跃成员</span>
        </div>
        <div class="ui-content">
            {% for member in active_members.list %}
                <div class="member">
                    <a href="/u/{{ member.username }}">
                        <img src="/static/avatar/m_{{ member.avatar or 'default.png' }}" alt="" class="avatar" />
                    </a>
                    <span class="username">
                        <a href="/u/{{ member.username }}">{{ member.username }}</a>
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="member-lists container-box mt10">
        <div class="ui-header">
            <span class="title">最新加入成员</span>
        </div>
        <div class="ui-content">
            {% for member in members.list %}
                <div class="member">
                    <a href="/u/{{ member.username }}">
                        <img src="/static/avatar/m_{{ member.avatar or 'default.png' }}" alt="" class="avatar" />
                    </a>
                    <span class="username">
                        <a href="/u/{{ member.username }}">{{ member.username }}</a>
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% if current_user %}
        <div class="usercard container-box">
            <div class="ui-header">
                <a href="/u/{{ user_info.username }}">
                    <img src="/static/avatar/m_{{ user_info.avatar or 'default.png' }}?t={{ gen_random() }}" alt="" class="avatar" />
                </a>
                <div class="username">{{ user_info.username }}</div>
                <div class="website"><a href="{{ user_info.website or '' }}">{{ user_info.website or '' }}</a></div>
            </div>
            <div class="ui-content">
                <div class="status status-topic">
                    <strong><a href="/u/{{ user_info.username }}/topics">{{ user_info.counter.topics }}</a></strong> 主题
                </div>
                <div class="status status-reply">
                    <strong><a href="/u/{{ user_info.username }}/replies">{{ user_info.counter.replies }}</a></strong> 回复
                </div>
                <div class="status status-favorite">
                    <strong><a href="/u/{{ user_info.username }}/favorites">{{ user_info.counter.favorites }}</a></strong> 收藏
                </div>
                <div class="status status-reputation">
                    <strong>{{ user_info.reputation or 0 }}</strong> 威望
                </div>
            </div>
        </div>
    {% else %}
        <div class="login-box container-box">
            <div class="ui-content tc">
                <a class="btn btn-small" type="button" href="/login">登录</a>
                <a class="btn btn-small" type="button" href="/register">注册</a>
                <a class="btn btn-small" type="button" href="/forgot">找回密码</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
