{% extends 'snippet/layout.html' %}

{% block main %}
    <div class="container-box">
        <form class="form-horizontal" action='' method="POST">
            <fieldset>
                <div id="legend" class="mb50">
                    <legend class="">找回密码</legend>
                </div>
                {{ errors|dump_errors }}
                <div class="control-group">
                    <!-- Username -->
                    <label class="control-label" for="username">用户名</label>
                    <div class="controls">
                        <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                        <p class="help-block">用户名由字母开头，只能含有字母、数字或者下划线</p>
                    </div>
                </div>

                <div class="control-group">
                    <!-- E-mail -->
                    <label class="control-label" for="email">E-mail</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                        <p class="help-block">请输入你的E-mail，新密码将发送到这里</p>
                    </div>
                </div>

                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <button class="btn btn-success">找回密码</button>
                    </div>
                </div>
            </fieldset>
            {{ xsrf_form_html() }}
        </form>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="sidenav container-box">
        <ul>
            <li class="current"><a href="/setting">用户中心</a></li>
            <li><a href="/setting/avatar">设置头像</a></li>
            <li><a href="/setting/password">设置密码</a></li>
            <li><a href="/">返回首页</a></li>
        </ul>
    </div>
{% endblock %}
